<template>
  <div id="app">
    <div class="row controls">
      <div class="control">
        <label>Slide Layout</label>
        <select v-model="selectedSlideLayout">
          <option v-for="layoutOption in slideLayoutOptions" :key="layoutOption.value">{{layoutOption.label}}</option>
        </select>
        <div style="width: 100%; display: flex; flex-flow: column; align-items: flex-end">
          <div style="margin-right: 5rem; margin-top: 0.2rem">
            Width
            <input type="number" :disabled="layoutInputsDisabled" style="width: 40px" v-model="slideLayoutWidth"> in
          </div>
          <div style="margin-right: 5rem; margin-top: 0.2rem">
            Height
            <input type="number" :disabled="layoutInputsDisabled" style="width: 40px" v-model="slideLayoutHeight"> in
          </div>
        </div>
      </div>
      <div class="control zoom" >
        <label>L1 Nodes</label>
        <input type="range" min="1" :max="maxL1Nodes" step="1" v-model="l1Nodes" @dblclick="l1Nodes = maxL1Nodes">
        <div style="width: 100%; text-align: center; margin-top: 0.5rem">{{l1Nodes}}</div>
      </div>
      <div class="control zoom" style="margin-left: 2rem">
        <label>Zoom</label>
        <input type="range" min="0" :max="maxZoom" step="1" v-model="currentZoom" @dblclick="currentZoom = 100">
        <span style="width: 100%; text-align: center; margin-top: 0.5rem">{{currentZoom}}%</span>
      </div>
      <div class="control" style="margin-left: 2rem">
        <button @click="handleExportToPPT">Export to PPT</button>
      </div>
    </div>
    <div class="export-container" ref="exportContainer">
      <div
        class="row cards-container"
        :style="`font-size: ${fontSize}px; margin-top: ${isIE ? '4' : '2'}rem`"
        :class="singleBranch ? 'single-branch-container' : ''"
        :editing="editing"
        ref="cardContainer">
        <card
          v-for="node in cardNodes"
          :key="node.id"
          :node="node"
          :factsheetType="factsheetType"
          :style="`width: ${topLevelCardWidth}px`"
          class="top-level-card"/>
      </div>
    </div>
  </div>
</template>

<script>
import nodes from '@/assets/nodes.json'
import { generatePowerPointFromExportContainer, getSlideLayoutOptions } from '@/helpers/generator'
import Card from '@/components/Card'

export default {
  name: 'app',
  components: { Card },
  data () {
    return {
      currentZoom: 100,
      isIE: false,
      singleBranch: false,
      editing: false,
      factsheetType: 'BusinessCapability',
      maxZoom: 150,
      l1Nodes: 3,
      nodes,
      selectedSlideLayout: getSlideLayoutOptions()[0].label,
      slideLayoutOptions: getSlideLayoutOptions(),
      // customLayoutWidth: getSlideLayoutOptions()[0].width,
      // customLayoutHeight: getSlideLayoutOptions()[0].height
      customLayoutWidth: 40,
      customLayoutHeight: 10
    }
  },
  computed: {
    fontSize () {
      return this.currentZoom * 0.06429 + 4.643
    },
    topLevelCardWidth () {
      const width = ((this.currentZoom * 250) / 100) + 150
      return width
    },
    maxL1Nodes () {
      return this.nodes.length
    },
    cardNodes () {
      return this.nodes.slice(0, this.l1Nodes)
    },
    layoutInputsDisabled () {
      return !!getSlideLayoutOptions().filter(option => option.label === this.selectedSlideLayout).shift().width
    },
    slideLayoutWidth: {
      get () {
        return getSlideLayoutOptions().filter(option => option.label === this.selectedSlideLayout).shift().width || this.customLayoutWidth
      },
      set (val) {
        this.customLayoutWidth = val
      }
    },
    slideLayoutHeight: {
      get () {
        return getSlideLayoutOptions().filter(option => option.label === this.selectedSlideLayout).shift().height || this.customLayoutHeight
      },
      set (val) {
        this.customLayoutHeight = val
      }
    }
  },
  methods: {
    handleExportToPPT () {
      let layout = getSlideLayoutOptions().filter(option => option.label === this.selectedSlideLayout).shift()
      if (layout.value === 'LAYOUT_USER') {
        layout = { ...layout, width: Number(this.customLayoutWidth), height: Number(this.customLayoutHeight) }
      }
      generatePowerPointFromExportContainer(this.$refs.exportContainer, layout)
    }
  }
}
</script>

<style lang="stylus">
@import './stylus/main'

#app
  display flex
  flex-flow column
  align-items flex-start
  font-size 12px

  & > .row > div.card
    flex 1 0 auto
    margin-right 0.5rem

.row
  display flex
  flex-flow row
  align-items flex-start
  padding 2rem
  &.controls
    background white
    align-items flex-center
    padding-bottom 0.5em
    align-self flex-end
    justify-content flex-end
    z-index 10
    & > .control
      font-size 11px
      display flex
      flex-flow column
      align-items flex-start
      margin-bottom 0.5rem
      > label
        margin-bottom 0.5rem
      padding-right 1em
    & > .levels
      margin-right 20px
      & > input
        width 60px
    & > .zoom
      & > input
        width 120px
    & > .btn
      align-self center
      margin-left 20px
      cursor pointer
      &.editing
        margin-right 20px
        color #999
        &[editing]
          color black
        & > svg
          margin-right 5px
      &.sync > svg
        padding 0 0.5em
        font-size 14px
        & > i[loading]
            animation spin 2s linear infinite

.export-container
  border 1px solid black
  min-width 100%
  .card
    margin-right 0.5rem

.cards-container
  &[editing]
    cursor copy

// css for L1 filter
.single-branch-container
  width 100%
  justify-content center
  & .card
    width 100%
    max-width 600px

@keyframes spin
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)
</style>
